In [ ]:
%pip install pymongo

Collecting pymongo
  Downloading pymongo-4.6.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (677 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 677.2/677.2 kB 4.4 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.6.1-py3-none-any.whl (307 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 307.7/307.7 kB 27.2 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.6.1 pymongo-4.6.2

In [ ]:
import os
import datetime
import pymongo
import pprint
import pandas as pd

In [ ]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
conn_str = "mongodb+srv://Ethrogo:Ethan123@cluster88723.cqqvg23.mongodb.net/?retryWrites=true&w=majority"
client = pymongo.MongoClient(conn_str,server_api=ServerApi('1'))
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)
client.list_database_names()
#Completed part 1

Pinged your deployment. You successfully connected to MongoDB!

['sample_airbnb',
 'sample_analytics',
 'sample_geospatial',
 'sample_guides',
 'sample_mflix',
 'sample_restaurants',
 'sample_supplies',
 'sample_training',
 'sample_weatherdata',
 'admin',
 'local']

In [ ]:
db = client['ethan_class']
db.list_collection_names()
#Completed Part 2

[]

In [ ]:
students_collection = db['students']
single_document = {
    'name': 'John',
    'age': 20,
    'gender': 'Male',
    'grade': 'A',
    'city': 'New York'
}
students_collection.insert_one(single_document)
multiple_documents = [
    {'name': 'Alice', 'age': 22, 'gender': 'Female', 'grade': 'B', 'city': 'Los Angeles'},
    {'name': 'Bob', 'age': 21, 'gender': 'Male', 'grade': 'C', 'city': 'Chicago'},
    {'name': 'Emma', 'age': 23, 'gender': 'Female', 'grade': 'A', 'city': 'San Francisco'}
]
students_collection.insert_many(multiple_documents)
#Part 3 complete

InsertManyResult([ObjectId('6601cc0e4c754621978fa433'), ObjectId('6601cc0e4c754621978fa434'), ObjectId('6601cc0e4c754621978fa435')], acknowledged=True)

In [ ]:
all_students = students_collection.find()
print("\nAll student documents:")
for student in all_students:
    print(student)
specific_students = students_collection.find({'grade': 'A'})
print("\nAll students with A:")
for student in specific_students:
    print(student)
#completed part 4

All student documents:
{'_id': ObjectId('6601cc0e4c754621978fa432'), 'name': 'John', 'age': 20, 'gender': 'Male', 'grade': 'A', 'city': 'New York'}
{'_id': ObjectId('6601cc0e4c754621978fa433'), 'name': 'Alice', 'age': 22, 'gender': 'Female', 'grade': 'B', 'city': 'Los Angeles'}
{'_id': ObjectId('6601cc0e4c754621978fa434'), 'name': 'Bob', 'age': 21, 'gender': 'Male', 'grade': 'C', 'city': 'Chicago'}
{'_id': ObjectId('6601cc0e4c754621978fa435'), 'name': 'Emma', 'age': 23, 'gender': 'Female', 'grade': 'A', 'city': 'San Francisco'}

All students with A:
{'_id': ObjectId('6601cc0e4c754621978fa432'), 'name': 'John', 'age': 20, 'gender': 'Male', 'grade': 'A', 'city': 'New York'}
{'_id': ObjectId('6601cc0e4c754621978fa435'), 'name': 'Emma', 'age': 23, 'gender': 'Female', 'grade': 'A', 'city': 'San Francisco'}

In [ ]:
filter_criteria = {'name': 'Alice'}
update_data = {'$set': {'grade': 'A+'}}
students_collection.update_one(filter_criteria, update_data)

filter_criteria = {'grade': 'A'}
update_data = {'$set': {'grade': 'B+'}}
students_collection.update_many(filter_criteria, update_data)
#Completed task 5

UpdateResult({'n': 2, 'electionId': ObjectId('7fffffff000000000000086d'), 'opTime': {'ts': Timestamp(1711394068, 33), 't': 2157}, 'nModified': 2, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1711394068, 33), 'signature': {'hash': b'[)f\x8d\xfcd\xb3\xabW@\x87"\xea<\x9e\xd0\x95\xe5&q', 'keyId': 7304147019960942594}}, 'operationTime': Timestamp(1711394068, 33), 'updatedExisting': True}, acknowledged=True)

In [ ]:
delete_criteria = {'name': 'Bob'}
students_collection.delete_one(delete_criteria)

delete_criteria = {'grade': 'B+'}
students_collection.delete_many(delete_criteria)

DeleteResult({'n': 2, 'electionId': ObjectId('7fffffff000000000000086d'), 'opTime': {'ts': Timestamp(1711394129, 75), 't': 2157}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1711394129, 76), 'signature': {'hash': b'LK\x02\x93d\xa7;U\xf60\xde4\xa6\xfc\x05\x83\x9e!K\xaf', 'keyId': 7304147019960942594}}, 'operationTime': Timestamp(1711394129, 75)}, acknowledged=True)